<page-job-list></page-job-list>
<!--<ion-tabs  id="tabs" hideWhen="show == true">-->

    <!--<ion-tab [root]="tab1Root" tabTitle="Wallets" tabIcon="angle-right"></ion-tab>-->
    <!--<ion-tab [root]="tab2Root" tabTitle="Deposit" tabIcon="ios-people-outline"></ion-tab>-->
    <!--<ion-tab [root]="tab3Root" tabTitle="Withdraw" tabIcon="ios-person-outline"></ion-tab>-->
    <!--<ion-tab [root]="tab4Root" tabTitle="Exchange" tabIcon="ios-information-circle-outline"></ion-tab>-->
  <!--<ion-tab [root]="tab5Root" tabTitle="Sent" tabIcon="send"></ion-tab>-->
  <!--&lt;!&ndash;<i class="fas fa-"></i>&ndash;&gt;-->
<!--</ion-tabs>-->

