<ion-content padding>
    <div class="bg_container">
        <img class="logo" src="../assets/logos/logo.png">
        <p class="title_container">
            Sign In
        </p>
    </div>
    <div class="panel">
        <div>
            <label>
                E-Mail
            </label>
            <input type="email">
            <img src="../assets/icons/letter.png">
        </div>
        <div>
            <label>
                Password
            </label>
            <input type="password">
            <img src="../assets/icons/eye.png">
        </div>

        <div class="btn_container">
            <button ion-button round class="btn_gradient" (click)="GoToPage('signIn')">Sign In</button>
            <p>Forgot password?</p>
        </div>
    </div>

</ion-content>



