<ion-content>
    <div class="logo_container">
        <img class="logo" [src]="defaultImg">
        <p class="title_container">
            Sign In
        </p>
    </div>
    <div class="form-block">
        <form (ngSubmit)="login(conversationId.value, userId)">
            <div class="input-block">
                <ion-item>
                    <ion-label floating>E-Mail</ion-label>
                    <ion-input type="text" [(ngModel)]="user.email" name="email">
                    </ion-input>
                </ion-item>
                <i class="far fa-envelope icon"></i>
            </div>
            <div class="input-block">
                <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input type="password" [(ngModel)]="user.password" [type]="isShowPass ? 'password' : 'text'"
                               name="password"></ion-input>
                </ion-item>
                <i class="far fa-eye icon" (click)="showPass()"></i>
            </div>
        </form>
        <div class="btn_container" style="margin-top: 40px">
            <button ion-button round class="btn_gradient" (click)="login()">Sign In</button>
            <p (click)="forgot()" style="color: #c9c9c9; margin-top: 20px">Forgot password?</p>
        </div>
    </div>

    <div class="auth-footer">
        <p>Don`t have an account? <a (click)="create()">Create now</a></p>
    </div>
</ion-content>




