<ion-header style="background: #488aff">
  <ion-navbar>
    <ion-buttons left (click)="back()" style="margin-left: 10px">
      <button ion-button icon-only>
        <i class="fas fa-angle-left"></i>
        <!--<ion-icon name="close"></ion-icon>-->
      </button>
    </ion-buttons>
    <ion-title text-center>
      Personal information
    </ion-title>
    <ion-buttons right disabled>
      <button style="background: inherit; color: white">
        Apply
        <!--<img src="../../../assets/icons/user.png" style="border-radius: 30px">-->
        <!--<ion-icon name="search" ios="ios-search" md="md-search"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!--Карточки-->

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <div class="dashb">
      <div class="dashb1">

      </div>
    </div>
    <div  style="position: fixed; top:14%; margin-left: 40%; margin-right:40%;  padding-bottom: 20px; margin-bottom: 10px">
      <!--<img src="../../assets/icons/avat.png" width="100" height="100" style="border-radius: 50px">-->
      <!--<button  right style="background: inherit">-->
      <!--<img [src]="assets/icons/user.png" style="border-radius: 30px" alt="" *ngIf="!localStorage.user_picture">-->
      <!--<img [src]="localStorage.user_picture" alt="" *ngIf="localStorage.user_picture!=''">-->
      <div  style="right: 40%; left: 40%;">
        <img [src]="defaultImg" alt="" *ngIf="!this.entity.photo_path || this.entity.photo_path=='undefined'"  style="border-radius: 50px; width: 100px; height: 100px;">
        <span showWhen="this.entity.photo_path!='' || this.entity.photo_path!='undefined'">
           <img [src]="this.entity.photo_path" alt="" *ngIf="this.entity.photo_path!='' "  style="border-radius: 50px; width: 100px; height: 100px">
        </span>

      </div>

      <!--<p><h5>{{entity.name}} {{entity.surname}} ;&nbsp;<span style="color: #dedede; font-size: 13px" (click)="edit()">Edit</span></h5></p>-->
      <!--<p style="color: #dedede; font-size: 15px"> {{entity.country}}, {{entity.city}}</p>-->
      <!--<img src="../../../assets/icons/user.png">-->
      <!--<ion-icon name="search" ios="ios-search" md="md-search"></ion-icon>-->
      <!--</button>-->
      <!--<img [src]="defaultImg" alt="" *ngIf="!this.entity.photo_path"  style="border-radius: 50px" width="100" height="100">-->
      <!--<img [src]="this.entity.photo_path" alt="" *ngIf="this.entity.photo_path!=''"  style="border-radius: 50px;" width="100" height="100">-->
      <div  style="margin-right: -20%; margin-left: -30%;">
        <h5><span *ngIf="entity.name != 'undefined'">{{entity.name}}  {{entity.surname}}</span>&nbsp;&nbsp;<span style="color: #dedede; font-size: 13px" (click)="edit()">Edit</span>
        </h5>
        <p style="margin-left: -6%; margin-top: 10px; margin-bottom: 20px;"><span style="color: #dedede; font-size: 15px"><span *ngIf="entity.country != 'undefined'">
          {{entity.country}},</span> <span  *ngIf="entity.sity != 'undefined'">{{entity.sity}}</span></span></p>

      </div>
    </div>
    <ion-list style="padding-left: 5px; position: fixed; top:40%; width: 90%">
      <!--<ion-item>-->
      <div style="width: 100%; margin-left: 20px">
        <p style="font-size: 20px;">Private Details</p>
        <div style="margin-left: 20px">
          <p style="color: #39cefa; font-size: 13px;">E-mail</p>
          <p style="padding-left: 20px; border-bottom: 1px solid #dedede; padding-bottom: 6px; width: 90%" >{{entity.email}}</p>

          <p style="color: #39cefa; font-size: 13px">Phone number</p>
          <p style="padding-left: 20px; border-bottom: 1px solid #dedede; padding-bottom: 6px;  width: 90%"  *ngIf="entity.phone != 'undefined'">{{entity.phone}}</p>
          <p style="padding-left: 20px; border-bottom: 1px solid #dedede; padding-bottom: 6px;  width: 90%"  *ngIf="entity.phone == 'undefined'"> &nbsp;&nbsp; </p>

          <p style="color: #39cefa; font-size: 13px">Date of birth</p>
          <p style="padding-left: 20px; border-bottom: 1px solid #dedede; padding-bottom: 6px;  width: 90%"  *ngIf="entity.date != 'undefined'">{{entity.date | date:'MMMM d, y'}}</p>
          <p style="padding-left: 20px; border-bottom: 1px solid #dedede; padding-bottom: 6px;  width: 90%"  *ngIf="entity.date == 'undefined'">&nbsp;&nbsp;</p>

        </div>
        <table style="background: white">
          <tr>
            <td class="lorem">
              Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do clusmoe tempor incididunt at labore er colors magna aliqua.

            </td>
            <td>
              <label (click)="check1()" *ngIf="check == false">
                <input class="checkbox" type="checkbox" name="checkbox-test">
                <span class="checkbox-custom"></span>
                <span class="label"></span>
              </label>
              <img [src]="defaultImg4" *ngIf="check == true" (click)="check2()" class="img">
              <!--<img src="../../assets/icons/check2.png" width="25" height="25" class="check">-->
            </td>

          </tr>
          <tr class="learn">Learn more</tr>
          <tr>
            <td class="lorem">
              Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do clusmoe tempor incididunt at labore er colors magna aliqua.

            </td>
            <td>
              <label (click)="check3()" *ngIf="check11 == false">
                <input class="checkbox" type="checkbox" name="checkbox-test">
                <span class="checkbox-custom"></span>
                <span class="label"></span>
              </label>
              <img [src]="defaultImg4" *ngIf="check11 == true" (click)="check4()" class="img">
              <!--<img src="../../assets/icons/check2.png" width="25" height="25" class="check">-->
            </td>

          </tr>
        </table>
      </div>


      <!--</ion-item>-->
    </ion-list>
  </div>

</ion-content>
