<ion-content padding>
    <ion-row align-items-center>
        <ion-row class="logo_container">
            <img class="logo"  [src]="defaultImg">
        </ion-row>
        <ion-row class="title_container">
            <div>
                <p>CryptoBank</p>
                <p>Best way to organize your money</p>
            </div>
        </ion-row>
        <div class="btn_container">
            <button ion-button round (click)="register()">Sign Up</button>
            <button ion-button round (click)="login()">Sign In</button>
        </div>
    </ion-row>
</ion-content>

