page-auth {
  ion-content {
    background: url("../assets/bg/start_page.png");
    background-size: 100% 100%;
    ion-row {
      margin: 0 auto;
      .logo {
        width: 140px;
        height: 100%;
        margin-bottom: 25px;
        margin-top: 16%;
      }
    }
    ion-row.logo_container {
      margin-top: 65px;
    }
  }
}

.title_container {
  div {
    p {
      text-align: center;
      margin: 0;
      font-family: "Register Sans";

    }
    p:first-child {
      font-size: 45px;
      color: white;
    }
    p:last-child {
      font-size: 19px;
      color: rgb(178, 178, 179);
      margin-top: 10px;
    }
  }
}