<ion-header style="background: #488aff">
  <ion-navbar>
    <ion-buttons left (click)="back()">
    <button ion-button icon-only>
    <ion-icon name="close"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title text-center>
      Bitcoin Wallet
    </ion-title>
    <ion-buttons (click)="showSearchBar()" right  style="position: fixed; right: 5px" >
      <button style="background: inherit;" right>
        <!--<img [src]="assets/icons/user.png" style="border-radius: 30px" alt="" *ngIf="!localStorage.user_picture">-->
        <!--<img [src]="localStorage.user_picture" alt="" *ngIf="localStorage.user_picture!=''">-->
        <i class="far fa-user" *ngIf="!this.entity.photo_path || this.entity.photo_path=='undefined'"  style="border-radius: 30px; padding-left: 10px; padding-right: 10px; padding-top: 8px; padding-bottom: 8px; font-size: 22px; background: white; color: #38b9f8"></i>

        <!--<img [src]="defaultImg" alt="" *ngIf="!this.entity.photo_path || this.entity.photo_path=='undefined'"  style="border-radius: 30px; width: 37px; height: 37px;">-->
        <span showWhen="this.entity.photo_path!='' || this.entity.photo_path!='undefined'">
        <img [src]="this.entity.photo_path" alt="" *ngIf="this.entity.photo_path!='' "  style="border-radius: 30px; width: 37px; height: 37px">
        </span>
        <!--<img src="../../../assets/icons/user.png">-->
        <!--<ion-icon name="search" ios="ios-search" md="md-search"></ion-icon>-->
      </button>
      <!--<button ion-button icon-only>-->
        <!--<img [src]="defaultImg" alt="" *ngIf="!this.entity.photo_path"  style="border-radius: 30px">-->
        <!--<img [src]="this.entity.photo_path" alt="" *ngIf="this.entity.photo_path!=''"  style="border-radius: 30px; width: 37px; height: 37px">-->
        <!--&lt;!&ndash;<img src="../../../assets/icons/user.png" style="border-radius: 30px">&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-icon name="user" ios="ios-search" md="md-search"></ion-icon>&ndash;&gt;-->
      <!--</button>-->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!--Карточки-->

<ion-content padding-vertical>
  <div class="current">
    <p style="font-size: 18px">200</p>
    <p>Current Balance</p>
    <p><b>ID:</b>{{this.entity.id}}</p>
  </div>
  <div style="background: #ea2e4e; text-align: center; color: white; padding-top: 5px; padding-bottom: 5px; font-size: 14px"
  (click)="verified()" *ngIf="entity.verified == 'false'">
    You are ot verified. Please verify for using cryptobank
  </div>
  <div  style="color: #38b9f8; text-align: center; padding-top: 5px"  *ngIf="entity.verified == 'false'">
    You do not have any transaction
  </div>
<div *ngIf="entity.verified == 'true'">
  <div  style="color: #38b9f8; text-align: left; padding-top: 5px; padding-left: 10px">
    Today
  </div>
  <ion-list style="padding-left: 5px">
    <ion-item>
      <table style="width: 100%">
        <tr style="border-bottom: 1px solid #dedede; padding-bottom: 6px;  padding-top: 5px;">
          <!--<ion-label>-->
           <td> <img [src]="defaultImg4" width="40" height="40"></td>
           <td> <h2>Coffee Fellows</h2>
             <p style="font-size: 12px; color: #dedede">July 28, 12:35</p></td>
            <td><span style="float: right">-$ 12,95</span></td>
          <!--</ion-label>-->
        </tr>
        <tr style="border-bottom: 1px solid #dedede; padding-bottom: 6px;  padding-top: 5px;">
          <!--<ion-label>-->
          <td> <img [src]="defaultImg5" width="40" height="40"></td>
          <td> <h2>Alex Johnso</h2>
            <p style="font-size: 12px; color: #dedede">July 28, 12:35</p></td>
          <td><span style="float: right; color: #32db64">$ 12,95</span></td>
          <!--</ion-label>-->
        </tr>
        <tr style="border-bottom: 1px solid #dedede; padding-bottom: 6px;  padding-top: 5px;">
          <!--<ion-label>-->
          <td> <img [src]="defaultImg6" width="40" height="40"></td>
          <td> <h2>nike.com</h2>
            <p style="font-size: 12px; color: #dedede">July 28, 12:35</p></td>
          <td><span style="float: right">-$ 12,95</span></td>
          <!--</ion-label>-->
        </tr>
      </table>

    </ion-item>
  </ion-list>


  <!--<div  style="color: #38b9f8; text-align: left; padding-top: 5px; padding-left: 10px">-->
    <!--Yesterday-->
  <!--</div>-->
  <!--<ion-list style="padding-left: 5px">-->
    <!--<ion-item>-->
      <!--<table style="width: 100%">-->
        <!--<tr style="border-bottom: 1px solid #dedede; padding-bottom: 6px;  padding-top: 5px;">-->
          <!--&lt;!&ndash;<ion-label>&ndash;&gt;-->
          <!--<td> <img src="../../assets/icons/person.png" width="30" height="30"></td>-->
          <!--<td> <h2>Coffee Fellows</h2>-->
            <!--<p style="font-size: 12px; color: #dedede">July 28, 12:35</p></td>-->
          <!--<td><span style="float: right">-$ 12,95</span></td>-->
          <!--&lt;!&ndash;</ion-label>&ndash;&gt;-->
        <!--</tr>-->
        <!--<tr style="border-bottom: 1px solid #dedede; padding-bottom: 6px;  padding-top: 5px;">-->
          <!--&lt;!&ndash;<ion-label>&ndash;&gt;-->
          <!--<td> <img src="../../assets/icons/person.png" width="30" height="30"></td>-->
          <!--<td> <h2>Alex Johnso</h2>-->
            <!--<p style="font-size: 12px; color: #dedede">July 28, 12:35</p></td>-->
          <!--<td><span style="float: right; color: #32db64">-$ 12,95</span></td>-->
          <!--&lt;!&ndash;</ion-label>&ndash;&gt;-->
        <!--</tr>-->
        <!--<tr style="border-bottom: 1px solid #dedede; padding-bottom: 6px;  padding-top: 5px;">-->
          <!--&lt;!&ndash;<ion-label>&ndash;&gt;-->
          <!--<td> <img src="../../assets/icons/person.png" width="30" height="30"></td>-->
          <!--<td> <h2>nike.com</h2>-->
            <!--<p style="font-size: 12px; color: #dedede">July 28, 12:35</p></td>-->
          <!--<td><span style="float: right">-$ 12,95</span></td>-->
          <!--&lt;!&ndash;</ion-label>&ndash;&gt;-->
        <!--</tr>-->
      <!--</table>-->

    <!--</ion-item>-->
  <!--</ion-list>-->

</div>
</ion-content>
<ion-footer>
  <table style="width: 100%; text-align: center">
    <tr style="color: #dedede; font-size: 20px">
      <td  style="color: #2faeff;" (click)="wallet()"><i class="fas fa-wallet"></i></td>
      <td (click)="depositpage()">
        <i class="far fa-credit-card"></i>
        <!--<i class="far fa-credit-card"></i>-->
        <!--<img [src]="defaultImg1" >-->
      </td>
      <td (click)="withdraw()">
        <i class="far fa-credit-card fa-flip-vertical"></i>
        <!--<img [src]="defaultImg2">-->
        <!--<i class="far fa-credit-card"></i>-->
      </td>
      <td (click)="exchange()">
        <i class="fas fa-sync"></i>
        <!--<img [src]="defaultImg3" style="padding-top: 3px">-->
        <!--<i class="fas fa-donate"></i>-->
      </td>
      <td (click)="sendp()">   <ion-icon ios="ios-send" md="md-send"></ion-icon>
      </td>
    </tr>
    <!--<tr style="color: #dedede; font-size: 20px">-->
      <!--<td style="color: #2faeff;" (click)="wallet()"><i class="fas fa-wallet"></i></td>-->
      <!--<td (click)="depositpage()">-->
        <!--&lt;!&ndash;<i class="far fa-credit-card"></i>&ndash;&gt;-->
        <!--<img  [src]="defaultImg1" >-->
      <!--</td>-->
      <!--<td (click)="withdraw()">-->
        <!--<img  [src]="defaultImg2" >-->
        <!--&lt;!&ndash;<i class="far fa-credit-card"></i>&ndash;&gt;-->
      <!--</td>-->
      <!--<td (click)="exchange()">-->
        <!--<img  [src]="defaultImg3" style="padding-top: 3px">-->
        <!--&lt;!&ndash;<i class="fas fa-donate"></i>&ndash;&gt;-->
      <!--</td>-->
      <!--<td (click)="sendp()">  <ion-icon name="send"></ion-icon></td>-->
    <!--</tr>-->
    <tr style="color: #dedede">
      <td (click)="wallet()">Wallets</td>
      <td  (click)="depositpage()">Deposit</td>
      <td (click)="withdraw()">Withdraw</td>
      <td  (click)="exchange()">Exchange</td>
      <td  (click)="sendp()">Send</td>
    </tr>
  </table>
</ion-footer>
