<!--<ion-menu [content]="content">-->
<ion-header style="background: #488aff">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only disabled>
        <ion-icon></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      My Wallets
    </ion-title>
    <ion-buttons (click)="showSearchBar1()" right style=" position: fixed; right: 5px">
      <button  right style="background: inherit">
        <!--<img [src]="assets/icons/user.png" style="border-radius: 30px" alt="" *ngIf="!localStorage.user_picture">-->
        <!--<img [src]="localStorage.user_picture" alt="" *ngIf="localStorage.user_picture!=''">-->
        <i class="far fa-user" *ngIf="!this.entity.photo_path || this.entity.photo_path=='undefined'"  style="border-radius: 30px; padding-left: 10px; padding-right: 10px; padding-top: 8px; padding-bottom: 8px; font-size: 22px; background: white; color: #38b9f8"></i>
        <!--<img [src]="defaultImg" alt="" *ngIf="!this.entity.photo_path || this.entity.photo_path=='undefined'"  style="border-radius: 30px; width: 37px; height: 37px;">-->
        <span showWhen="this.entity.photo_path!='' || this.entity.photo_path!='undefined'">
        <img [src]="this.entity.photo_path" alt="" *ngIf="this.entity.photo_path!='' ||  this.entity.photo_path!='undefined'"  style="border-radius: 30px; width: 37px; height: 37px">
        </span>
       <!--<img src="../../../assets/icons/user.png">-->
        <!--<ion-icon name="search" ios="ios-search" md="md-search"></ion-icon>-->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!--Карточки    -->

<ion-content padding-vertical>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
    >
    </ion-refresher-content>
  </ion-refresher>
<div class="current">
  Current Balance:
</div>
  <div style="background: white" >
    <ion-card *ngFor=" let name of coin | orderBy: 'displayName'">
      <ion-card-header>
        <ion-card-title>{{name.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Balance: {{name.balance}}
        <ion-buttons class="btn" (click)="showMore()">
          <button style="background: none; color: white">
            Show More
          </button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="balan == true">
      <ion-card-header>
        <ion-card-title>BITCOIN</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Balance: 200
        <ion-buttons class="btn" (click)="showMore()">
          <!--<button style="background: inherit; color: white">-->
            Show More
          <!--</button>-->
        </ion-buttons>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="ripple == true">
      <ion-card-header>
        <ion-card-title>RIPPLE</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Balance: 200
        <ion-buttons class="btn" (click)="showMore()">
          <button style="background: inherit; color: white">
            Show More
          </button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
    <!--<ion-card>-->
      <!--<ion-card-header>-->
        <!--<ion-card-title>RIPPLE</ion-card-title>-->
      <!--</ion-card-header>-->
      <!--<ion-card-content>-->
        <!--Balance: 200-->
        <!--<ion-buttons class="btn" (click)="showMore()">-->
          <!--<button style="background: inherit; color: white">-->
            <!--Show More-->
          <!--</button>-->
        <!--</ion-buttons>-->
      <!--</ion-card-content>-->
    <!--</ion-card>-->
  </div>
  <ion-fab right bottom>
    <button ion-fab>
      <ion-icon name="add" color="white" style="font-weight: 600"></ion-icon>
    </button>
    <ion-fab-list side="top" style="width: 50px; margin-right: 750px">
      <span style="width: 280px; margin-right: 73px; margin-bottom: 20px"  (click)="apply1()"><span style="color: #515151; font-size: 16px">Add ethereum account</span>
         <img [src]="defaultImg4" alt="" style="border-radius: 30px; width: 40px; height: 40px; margin-bottom: -15px;">
      <!--<button icon-only class="btnfab">-->

        <!--<ion-icon name="add"></ion-icon>-->
      <!--</button>-->
      </span>
      <span style="width: 280px; margin-right: 36px;  margin-bottom: 20px" (click)="createBitcoin()"><span style="color: #515151; font-size: 16px">Add bitcoin account</span>
        <img [src]="defaultImg4" alt="" style="border-radius: 30px; width: 40px; height: 40px; margin-bottom: -15px;">
      <!--<button icon-only class="btnfab">-->

        <!--<ion-icon name="add"></ion-icon>-->
      <!--</button>-->
      </span>
      <span style="width: 280px; margin-right: 20px;  margin-bottom: 20px" (click)="ripple1()"><span style="color: #515151; font-size: 16px">Add ripple account</span>
        <img [src]="defaultImg4" alt="" style="border-radius: 30px; width: 40px; height: 40px; margin-bottom: -15px;">
      <!--<button icon-only class="btnfab">-->

        <!--<ion-icon name="add"></ion-icon>-->
      <!--</button>-->
      </span>
    </ion-fab-list>

  </ion-fab>
</ion-content>
<ion-footer>
    <table style="width: 100%; text-align: center">
      <tr style="color: #dedede; font-size: 20px">
        <td  style="color: #2faeff;" (click)="wallet()"><i class="fas fa-wallet"></i></td>
        <td (click)="depositpage()">
          <i class="far fa-credit-card"></i>
          <!--<i class="far fa-credit-card"></i>-->
          <!--<img [src]="defaultImg1" >-->
        </td>
        <td (click)="withdraw()">
          <i class="far fa-credit-card fa-flip-vertical"></i>
          <!--<img [src]="defaultImg2">-->
          <!--<i class="far fa-credit-card"></i>-->
        </td>
        <td (click)="exchange()">
          <i class="fas fa-sync"></i>
          <!--<img [src]="defaultImg3" style="padding-top: 3px">-->
          <!--<i class="fas fa-donate"></i>-->
        </td>
        <td (click)="sendp()">   <ion-icon ios="ios-send" md="md-send"></ion-icon>
        </td>
      </tr>
      <!--<tr style="color: #dedede; font-size: 20px">-->
        <!--<td style="color: #2faeff;" (click)="wallet()"><i class="fas fa-wallet"></i></td>-->
        <!--<td (click)="depositpage()">-->
          <!--&lt;!&ndash;<i class="far fa-credit-card"></i>&ndash;&gt;-->
          <!--<img [src]="defaultImg1" >-->
        <!--</td>-->
        <!--<td (click)="withdraw()">-->
          <!--<img [src]="defaultImg2">-->
          <!--&lt;!&ndash;<i class="far fa-credit-card"></i>&ndash;&gt;-->
        <!--</td>-->
        <!--<td (click)="exchange()">-->
          <!--<img [src]="defaultImg3" style="padding-top: 3px">-->
          <!--&lt;!&ndash;<i class="fas fa-donate"></i>&ndash;&gt;-->
        <!--</td>-->
        <!--<td (click)="sendp()">  <ion-icon name="send"></ion-icon></td>-->
      <!--</tr>-->
      <tr style="color: #dedede">
        <td (click)="wallet()">Wallets</td>
        <td  (click)="depositpage()">Deposit</td>
        <td (click)="withdraw()">Withdraw</td>
        <td  (click)="exchange()">Exchange</td>
        <td  (click)="sendp()">Send</td>
      </tr>
    </table>
</ion-footer>
<!--<page-mainboard></page-mainboard>-->
<!--</ion-menu>-->
<!--<ion-nav [root]="rootPage" #content></ion-nav>-->
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<!--<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>-->
