sms {
  ion-content {
    //background: {


    //image: url(../assets/bg/sign_in.png);
    //  size: 100% 100%;
    //  repeat: no-repeat;
    //}
    .btn_container {
      color: white;

      button {
        //background-image: $blue_with_gradient_bg;
      }
      p {
        color: $grey_color;
      }
    }
  }
  .account{
    text-align: center;
    p {
      color: $grey_color;
    }
    a{
      text-decoration: underline;
    }
  }
  .btn_gradient1{
    background: linear-gradient( to right, #39aafb, #38b9f8, #39cefa );
    width: 70%;
    text-align: center;
    margin-top: 20px;
    margin-left: 15%;
    padding: 20px 0;
    border-radius: 24px;
    border: none;
    color: white;
  }
  .btn_container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    button {
      background-color: $blue_without_gradient_bg;
      border-radius: $border_radius_bnt;
      border-color: transparent;
      width: 70%;
      font-size: 20px;
      padding: 22px 0;
      font-family: "Lato Light";
      font-weight: bold;
      margin-top: 20px;
    }
    button:last-child {
      background-color: transparent;
      border: 1px solid $blue_without_gradient_bg;
      color: $blue_without_gradient_bg;
    }
  }
  .bg_container {
    background: linear-gradient( to right, #39aafb, #38b9f8, #39cefa );
    text-align: center;
    display: block;
    width: 100%;
    img {
      width: 150px;
    }
    .title_container {
      font-size: 14px;
      padding-top: 30px;
      padding-bottom: 45%;
      color: rgb(255, 255, 255);
      font-weight: 300;
      margin: 0;
    }
  }
  .white_bg {
    background-color: rgb(255, 255, 255);
  }
  .panel {
    margin: -135px 5% 0 5%;
    width: 90%;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    padding: 30px;
    //position: fixed;
    label {
      display: block;
      color: $grey_color;
      font: {
        size: 14px;
      }
    }
    input {

      display: inline-block;
      width: 100%;
      padding: {
        top: 6px;
        right: 30px;
        left: 20px;
        bottom: 6px;
      }
      border: 0;
      border-bottom: 1px solid $grey_color;
    }
    div {
      position: relative;
      padding-top: 10px;
      img {
        position: absolute;
        width: 30px;
        bottom: 6px;
        right: 0;
      }

    }

  }
  .input-wrapper:first-child {
    margin: 28px 15px;
  }
  background: white;
  .toolbar-background-ios, .toolbar-background {
    background: linear-gradient( to right, #39aafb, #38b9f8, #39cefa );
    color: white;
  }
  .bar-buttons-ios[end] {
    .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
      color: white;
    }
  }
  .toolbar-title-md {
    color: white;
  }
  .button-clear-ios, .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: white;
  }
}
