<ion-header style="background: #488aff">
  <ion-navbar>
    <ion-buttons left (click)="back()">
      <button ion-button icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      Withdrow
    </ion-title>
    <ion-buttons (click)="showSearchBar1()" right   style=" position: fixed; right: 5px">
      <button  right style="background: inherit">
        <!--<img [src]="assets/icons/user.png" style="border-radius: 30px" alt="" *ngIf="!localStorage.user_picture">-->
        <!--<img [src]="localStorage.user_picture" alt="" *ngIf="localStorage.user_picture!=''">-->
        <i class="far fa-user" *ngIf="!this.entity.photo_path || this.entity.photo_path=='undefined'"  style="border-radius: 30px; padding-left: 10px; padding-right: 10px; padding-top: 8px; padding-bottom: 8px; font-size: 22px; background: white; color: #38b9f8"></i>

        <!--<img [src]="defaultImg" alt="" *ngIf="!this.entity.photo_path || this.entity.photo_path=='undefined'"  style="border-radius: 30px; width: 37px; height: 37px;">-->
        <span showWhen="this.entity.photo_path!='' || this.entity.photo_path!='undefined'">
        <img [src]="this.entity.photo_path" alt="" *ngIf="this.entity.photo_path!='' "  style="border-radius: 30px; width: 37px; height: 37px">
        </span>
        <!--<img src="../../../assets/icons/user.png">-->
        <!--<ion-icon name="search" ios="ios-search" md="md-search"></ion-icon>-->
      </button>
      <!--<button ion-button icon-only>-->
        <!--<img [src]="defaultImg" alt="" *ngIf="!this.entity.photo_path"  style="border-radius: 30px">-->
        <!--<img [src]="this.entity.photo_path" alt="" *ngIf="this.entity.photo_path!=''"  style="border-radius: 30px; width: 37px; height: 37px">-->
        <!--&lt;!&ndash;<img src="../../../assets/icons/user.png" style="border-radius: 30px">&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-icon name="search" ios="ios-search" md="md-search"></ion-icon>&ndash;&gt;-->
      <!--</button>-->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!--Карточки-->

<ion-content padding-vertical >
  <div class="current">
    Success !
  </div>
  <div style="text-align: center;padding-left: 20%; padding-right: 20%; padding-top: 15%">
    You successes withdrow 200 ripple ito cash bitcoins by course 1:10
    <ion-buttons class="btn1" (click)="showMore()">
      <button style="background: none; color: white">
        Ok
      </button>
    </ion-buttons>
  </div>



</ion-content>
<ion-footer>
  <table style="width: 100%; text-align: center">
    <tr style="color: #dedede; font-size: 20px">
      <td   (click)="wallet()"><i class="fas fa-wallet"></i></td>
      <td (click)="depositpage()">
        <i class="far fa-credit-card"></i>
        <!--<i class="far fa-credit-card"></i>-->
        <!--<img [src]="defaultImg1" >-->
      </td>
      <td (click)="withdraw()">
        <i class="far fa-credit-card fa-flip-vertical"></i>
        <!--<img [src]="defaultImg2">-->
        <!--<i class="far fa-credit-card"></i>-->
      </td>
      <td (click)="exchange()">
        <i class="fas fa-sync"></i>
        <!--<img [src]="defaultImg3" style="padding-top: 3px">-->
        <!--<i class="fas fa-donate"></i>-->
      </td>
      <td (click)="sendp()">   <ion-icon ios="ios-send" md="md-send" style="color: #2faeff;"></ion-icon>
      </td>
    </tr>
    <!--<tr style="color: #dedede; font-size: 20px">-->
      <!--<td style="color: #dedede;" (click)="wallet()"><i class="fas fa-wallet"></i></td>-->
      <!--<td (click)="depositpage()">-->
        <!--&lt;!&ndash;<i class="far fa-credit-card"></i>&ndash;&gt;-->
        <!--<img  [src]="defaultImg1">-->
      <!--</td>-->
      <!--<td (click)="withdraw()">-->
        <!--<img  [src]="defaultImg2">-->
        <!--&lt;!&ndash;<i class="far fa-credit-card"></i>&ndash;&gt;-->
      <!--</td>-->
      <!--<td (click)="exchange()">-->
        <!--<img  [src]="defaultImg3"style="padding-top: 3px">-->
        <!--&lt;!&ndash;<i class="fas fa-donate"></i>&ndash;&gt;-->
      <!--</td>-->
      <!--<td (click)="sendp()" style="color: #39cefa">  <ion-icon name="send"></ion-icon></td>-->
    <!--</tr>-->
    <tr style="color: #dedede">
      <td (click)="wallet()">Wallets</td>
      <td  (click)="depositpage()">Deposit</td>
      <td (click)="withdraw()">Withdraw</td>
      <td  (click)="exchange()">Exchange</td>
      <td  (click)="sendp()">Send</td>
    </tr>
  </table>
</ion-footer>
