<ion-header style="background: #488aff">
  <ion-navbar>
    <ion-buttons left (click)="back()">
      <button ion-button icon-only>
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      Change password
    </ion-title>
    <!--<ion-buttons (click)="showSearchBar()" right>-->
      <!--<button style="background: inherit; color: white">-->
        <!--Apply-->
        <!--&lt;!&ndash;<ion-icon name="user" ios="ios-search" md="md-search"></ion-icon>&ndash;&gt;-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="bg_container">
    <!--<img class="logo" src="../assets/logos/logo.png">-->
    <p class="title_container">
      Forgot your password?
    </p>
  </div>
  <div class="panel">
    <div>
      <label>
       Type your E-Mail
      </label>
      <input type="email"  [(ngModel)]="user.email">
      <img  [src]="defaultImg1">
    </div>
    <div style="text-align: center; padding: 10px">
      <label>
        or
      </label>
    </div>
    <div>
      <label>
        Type your Phone
      </label>
      <input type="number"  [(ngModel)]="user.phone">
      <img  [src]="defaultImg2">
    </div>

    <div>
      <button ion-button round class="btn_gradient1" (click)="login()"><span color="white">Sent</span></button>
    </div>
    <div class="btn_container">

    </div>
  </div>

</ion-content>
<!--Карточки-->

<!--<ion-content padding-vertical  style="">-->
  <!--<div class="bg_container">-->
    <!--&lt;!&ndash;<img class="logo" src="../assets/logos/logo.png">&ndash;&gt;-->
    <!--<p class="title_container">-->
      <!--Forgot your password-->
    <!--</p>-->
  <!--</div>-->
  <!--<div class="panel">-->
    <!--<div>-->
      <!--<label>-->
        <!--Type your E-Mail-->
      <!--</label>-->
      <!--<input type="password">-->
      <!--<img src="../assets/icons/letter.png">-->
    <!--</div>-->
    <!--<div style="text-align: center; padding: 5px">-->
      <!--<label>-->
        <!--or-->
      <!--</label>-->
    <!--</div>-->
    <!--<div>-->
      <!--<label>-->
        <!--Type your Phone-->
      <!--</label>-->
      <!--<input type="password">-->
      <!--<img src="../assets/icons/eye.png">-->
    <!--</div>-->
    <!--<div class="btn_container">-->
      <!--<button ion-button round class="btn_gradient" (click)="login()">Sign In</button>-->

    <!--</div>-->
  <!--</div>-->
<!--</ion-content>-->
