<ion-header style="background: #488aff">
    <ion-navbar>
        <ion-buttons left (click)="back()">
            <button ion-button icon-only>
                <ion-icon name="arrow-round-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title text-center>
            Change password
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="bg-contaienr">
    </div>
        <p>
            Forgot your password?
        </p>
    <div class="form-block">
        <form (ngSubmit)="login(conversationId.value, userId)">
            <div class="input-block">
                <ion-item>
                    <ion-label floating>Enter your e-mail</ion-label>
                    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
                </ion-item>
                <i class="far fa-envelope icon"></i>
            </div>
            <p>or</p>
            <div class="input-block">
                <ion-item>
                    <ion-label floating>Your phone number </ion-label>
                    <ion-input type="text" [(ngModel)]="phone" name="phone"></ion-input>
                </ion-item>
                <i class="fas fa-phone icon"></i>
            </div>
        </form>
        <div class="btn_container">
            <button ion-button round (click)="send()">Send</button>
        </div>
    </div>
</ion-content>

